@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    h1 {
        font-family: 'Maiandra GD';
        color: snow;
        text-align: center;
        vertical-align: middle;
        font-size: 50px;
    }

    body {
        background-image: url("https://www.ekapija.com/thumbs/alat_140916_tw1024.jpg");
        background-size: auto;
    }

    table {
        background-color: snow;
        margin-left: auto;
        margin-right: auto;
        border-style: solid;
        width: 50%;
    }

    td, tr {
        font-family: 'Maiandra GD';
        font-size: 24px;
        text-align: center;
        vertical-align: middle;
    }

    input {
        height: 30px;
        text-align: center;
        vertical-align: middle;
        font-family: 'Times New Roman';
        font-size: medium;
    }

    h2 {
        font-family: 'Maiandra GD';
        font-size: 30px;
        text-align: center;
        vertical-align: middle;
        color: white;
    }

    input.submit {
        color: #1cc49d;
        background-color: #1b2f31;
        border-radius: 50px;
        justify-content: center;
        align-items: center;
        height: 3em;
        width: 8em;
        font-size: large;
        font-weight: 600;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    label {
        color: white;
        font-size: small;
        font-family: 'Maiandra GD';
    }
</style>

<h1>HISTORY REMONTS</h1>
@if (ViewBag.HistoryRemonts != null)
{
    <div>
        @if (ViewBag.Result != null)
        {
            @if (ViewBag.Result.Error == true)
            {
                <div class="error-msg" id="error-msg">
                    <p style="color: red">@ViewBag.Result.Message</p>
                </div>
            }
            else
            {
                <div class="success-msg" id="success-msg">
                    <p style="color: green">@ViewBag.Result.Message</p>
                </div>
            }
        }
        <table>
            <thead>
                <tr>
                    <th>Number of remont</th>
                    <th>Time in magacine</th>
                    <th>Time of exploatation</th>
                    <th>Time on remont</th>
                    <th>Id of device</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.HistoryRemonts)
                {
                    <tr>
                        <td>
                            @item.NumberOfRemont
                        </td>
                        <td>
                            @item.TimeInMagacin
                        </td>
                        <td>
                            @item.TimeOfExploatation
                        </td>
                        <td>
                            @item.TimeOnRemont
                        </td>
                        <td>
                            @item.IdOfDevice
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p>There is no remonts.</p>
}