
<h1>Device Management</h1>

<h2>Add new device</h2>

<form action="~/Home/SaveDevice" method="post">
    <label>Device name: </label>
    <input name="name" id="name" />
    <input type="submit" value="Save device" />
</form>

@*<button name="All devices" type="button" onclick="location.href='@Url.Action("AllDevices", "Home")'" />*@


@if (ViewBag.Devices != null)
{
    <div>
        @if (ViewBag.Result != null)
        {
            @if (ViewBag.Result.Error == true)
            {
                <div class="error-msg" id="error-msg">
                    <p style="color: red">@ViewBag.Result.Message</p>
                </div>
            }
            else
            {
                <div class="success-msg" id="success-msg">
                    <p style="color: green">@ViewBag.Result.Message</p>
                </div>
            }
        }

        <h5>Devices:</h5>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Is on remont</th>
                    <th>Send device to remont</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Devices)
                {
                    <tr>
                        <td>
                            @item.Id
                        </td>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.IsOnRemont
                        </td>
                        <td>
                            @if (item.IsOnRemont == false)
                            {
                                @*<input type="button" value="Remont" onclick="location.href='@Url.Action("AllRemonts", "Home")'" />*@
                            
                            <form action="~/Home/AllRemonts" method="post">
                                <input type="hidden" value="@UInt32.Parse(item.Id)" name="id" id="id" />
                                <input type="submit" value="Remont">
                            </form>
                            }
                            else
                            {
                                <p>Device is on remont</p>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p>There is no devices.</p>
}